##############################
## Folders                  ##
##############################
.settings
target
.idea
.DS_Store


##############################
## eclipse conf            ##
##############################
.classpath
.project
server-api.iml
