##############################
## Folders                  ##
##############################
.settings
target
.idea
.DS_Store

##############################
## eclipse conf            ##
##############################
.classpath
.project
server-provider.iml
