<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="localCacheScope" value="STATEMENT"/>
        <!--<setting name="cacheEnabled" value="true" />-->
    </settings>
    <typeHandlers>
        <typeHandler handler="com.denny.mybatis.custom.CustomStringTypeHandler"></typeHandler>
        <!--<package name="com.denny.mybatis.custom"></package>-->
    </typeHandlers>
    <plugins>
        <!-- 嵌套递归包装，最后配置的拦截器先执行 -->
        <plugin interceptor="com.denny.mybatis.custom.LogPlugin"></plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.3.37:3306/denny-test?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
                <property name="username" value="denny"/>
                <property name="password" value="19830203"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="xml/TestMapper.xml"/>
        <mapper resource="xml/PostsMapper.xml"/>
    </mappers>
</configuration>