##############################
## Folders                  ##
##############################
.settings
target
.idea
.DS_Store


##############################
## eclipse conf            ##
##############################
.classpath
.project
dubbo-client.iml
