##############################
## Folders                  ##
##############################
.settings
target
 
##############################
## eclipse conf            ##
##############################
.classpath
.project